@import "src/utils/variables";
@import "src/utils/mixins";

.input {
  position: relative;
  display: flex;
  margin: 34px 0;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;

  .icon {
    font-size: 22px;
    padding-top: 1rem;
    color: #ccc;
    width: 1em;
  }
  .iconActive {
    color: $mainAccentColor;
  }


  input {
    height: 3rem;
    width: 100%;
    margin-left: 1rem;
    background: none;
    font-size: 1rem;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border: none;
    color: #fff;
    border-bottom: 1px solid #666;

  }

  input:focus {
    outline: none;
  }

  .labelCenter {
    position: absolute;
    top: 50%;
    left: 44px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: text;
    font-weight: 400;
    transition: 0.5s ease-out;
    z-index: -1;
  }

  .labelUp {
    top: 0;
    font-size: 12px;
    transition: 0.3s ease-out;
  }

}

