@import "src/utils/mixins";
@import "src/utils/variables";

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%; height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lato', sans-serif, Calibri, Arial;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: $mainAccentColor;
  .text {

  }
  .icon {
    margin: 5px 0 5px 15px;
  }
}
.button:visited {
  color: #fff;
  transform: translateY(1px);
}
.button:hover {
  color: #f1f1f1;
}