@import "src/utils/mixins";
@import "src/utils/variables";

.rightBlock {
  width: 100%/3*2;
  max-width: 700px;
  padding: 0 24px;
  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    margin-top: 40px;
    width: 100%;
  }
  @media (max-width: 480px) {
    padding: 0;
  }

  h6 {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', serif, Calibri, Arial;
    margin: 0;
    font-size: 20px;
    line-height: 110%;
  }

  p {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .button {
    width: 66.6666666667%;
    height: 42px;
    margin-bottom: 20px;
    cursor: pointer;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  .buttonDisable {
    cursor: auto;
  }
  .buttonDisable:active, .buttonDisable:hover, .buttonDisable:focus {
    transform: none;
    box-shadow: none;
    color: #fff;
  }

}