@import "src/utils/mixins";
@import "src/utils/variables";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  animation-name: pagination;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;

  .icon {
    cursor: pointer;
    color: #ababab;
    font-size: 47px;
    font-weight: 300;
    margin: 0 40px;
  }
  .icon:hover {
    color: #c2c2c2;
  }
  @media (max-width: 650px) {
    .icon {
      font-size: 34px;
    }
  }
}
.paginationNone {
  display: none;
}
@keyframes pagination {
  @include keyframesDisplayContent;
}