@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .block {
    display: flex;
    justify-content: center;
    width: $widthBigScreen;
    font-family: 'Lato', serif, Calibri, Arial;
    @media (max-width: 2150px) {
      width: $widthScreen2150;
    }
    @media (max-width: 1800px) {
      width: $widthScreen1800;
    }
    @media (max-width: 1550px) {
      width: $widthScreen1550;
    }
    @media (max-width: 1250px) {
      width: $widthScreen1250;
    }
  }
  .smallBlocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }

}