@import "src/utils/mixins";
@import "src/utils/variables";

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%/3);

  @media (max-width: 1800px) {
    align-items: unset;
    padding-right: 24px;
  }
  @media (max-width: 800px) {
    display: none;
  }
}