.mainPage {
    min-height: 100vh;
    background-color: #ffe3df;
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid saddlebrown;
}

.text {
    width: 300px;
    background-color: #ffceff;
    border: 1px solid blue;
}
.picture {
    width: 300px;
    height: 400px;
    background-color: #ffceff;
    border: 1px solid blue;
}

@media screen and (min-width: 550px) {
    .container {
        width: 80%;
    }
}