@import "src/utils/variables";

* {
  box-sizing: border-box;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; height: 100%;
  min-height: 100vh;
  background: $mainBackground;

  .up, .down {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }
  :before {
    position: absolute;
    content: '';
    height: 100%; width: 50%;
    top: 0; bottom: 0; left: 0;
    background: #555;
    animation-name: shadowLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  :after {
    position: absolute;
    content: '';
    height: 100%; width: 50%;
    top: 0; bottom: 0; right: 0;
    background: #555;
    animation-name: shadowRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes shadowRight {
    50% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shadowLeft {
    50% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }

  .portfolioMain {
    position: absolute;
    content: '';
    background: $blocksBackground;
    //transition: 0.4s ease;
    animation-name: portfolioBlock;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .portfolioMainNone {
    position: absolute;
    content: '';
    visibility: hidden;
    transition: 1.5s ease;
    animation-name: portfolioBackToSmall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  @keyframes portfolioBlock {
    0% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      left: 20px; bottom: 20px;
    }
    100% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      left: 20px; bottom: 20px;
    }
  }
  @keyframes portfolioBackToSmall {
    0% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      left: 20px; bottom: 20px;
      background: $blocksBackground;
      z-index: 5;
    }
    99% {
      background: $blocksBackground;
    }
    100% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      left: 20px; bottom: 20px;
      background: unset;
      z-index: 5;
    }
  }

  .aboutMeMain {
    position: absolute;
    content: '';
    background: $blocksBackground;
    //transition: 0.4s ease;
    animation-name: aboutMeBlock;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .aboutMeMainNone {
    position: absolute;
    content: '';
    visibility: hidden;
    transition: 1.5s ease;
    animation-name: aboutMeBlockBackToSmall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  @keyframes aboutMeBlock {
    0% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      right: 20px; top: 20px;
    }
    100% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      right: 20px; top: 20px;
    }
  }
  @keyframes aboutMeBlockBackToSmall {
    0% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      right: 20px; top: 20px;
      background: $blocksBackground;
      z-index: 5;
    }
    99% {
      background: $blocksBackground;
    }
    100% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      right: 20px; top: 20px;
      background: unset;
      z-index: 5;
    }
  }

  .getInTouchMain {
    position: absolute;
    content: '';
    background: $blocksBackground;
    //transition: 0.4s ease;
    animation-name: getInTouchBlock;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .getInTouchMainNone {
    position: absolute;
    content: '';
    visibility: hidden;
    transition: 1.5s ease;
    animation-name: getInTouchBlockBackToSmall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  @keyframes getInTouchBlock {
    0% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      right: 20px; bottom: 20px;
    }
    100% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      right: 20px; bottom: 20px;
    }
  }
  @keyframes getInTouchBlockBackToSmall {
    0% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      right: 20px; bottom: 20px;
      background: $blocksBackground;
      z-index: 5;
    }
    99% {
      background: $blocksBackground;
    }
    100% {
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      right: 20px; bottom: 20px;
      background: unset;
      z-index: 5;
    }
  }


}