@import "src/utils/variables";
@import "src/utils/mixins";

* {
  box-sizing: border-box;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; height: 100%;
  min-height: 100vh;
  background: $mainBackground;

  @media (max-width: 800px) {
    //border: 1px solid red;
    justify-content: unset;
    height: 100vh;
  }

  .up, .down {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    @media (max-width: 800px) {
      //display: unset;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 $marginBetweenBlocks;
      //border: 1px solid white;
    }
    @media (max-width: 480px) {
      padding: 0 ($marginBetweenBlocks - 0.5vh);
    }
  }

  .shadowLeft {
    position: absolute;
    content: '';
    height: 100%; width: 50%;
    top: 0; bottom: 0; left: 0;
    background: #555;
    animation-name: shadowLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 100;
  }
  .shadowRight {
    position: absolute;
    content: '';
    height: 100%; width: 50%;
    top: 0; bottom: 0; right: 0;
    background: #555;
    animation-name: shadowRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 100;
  }
  @keyframes shadowRight {
    50% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shadowLeft {
    50% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }

  .portfolioMain {
    @include mainBigBlock(portfolioBlock);
  }
  .portfolioMainNone {
    @include mainSmallBlock(portfolioBackToSmall);
  }
  @include keyframesSmallToBigMainBlocks(portfolioBlock, portfolioBackToSmall, 20px, unset, unset, 20px);


  .aboutMeMain {
    @include mainBigBlock(aboutMeBlock);
  }
  .aboutMeMainNone {
    @include mainSmallBlock(aboutMeBlockBackToSmall);
  }
  @include keyframesSmallToBigMainBlocks(aboutMeBlock, aboutMeBlockBackToSmall, unset, 20px, 20px, unset);


  .getInTouchMain {
    @include mainBigBlock(getInTouchBlock);
  }
  .getInTouchMainNone {
    @include mainSmallBlock(getInTouchBlockBackToSmall);
  }
  @include keyframesSmallToBigMainBlocks(getInTouchBlock, getInTouchBlockBackToSmall, unset, 20px, unset, 20px);

}