@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    animation-name: content;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 480px) {
      padding: 12px;
    }
  }

  .contentNone {
    display: none;
  }

  @keyframes content {
    @include keyframesDisplayContent;
  }
}

.containerScroll {
  overflow-x: hidden;
  overflow-y: auto;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes scroll {
  @include keyframesDisplayContent;
}