@import "src/utils/mixins";
@import "src/utils/variables";

.rating {
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 5px;
  line-height: 2;
  text-align: center;
  color: $mainAccentColor;
}
