@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0 50px 0;
  border-bottom: 1px solid #333;

  .block {
    display: flex;
    width: 70%;
    padding: 0 24px;
    font-family: 'Lato', serif, Calibri, Arial;
    color: #656c6d;
    background: transparent;
    font-weight: 400;

    .skills {
      width: calc(100%/3*2);
      padding: 0 24px;
      .lists {
        position: relative;
        max-width: 645px;
      }
    }
  }


}