@import "src/utils/mixins";
@import "src/utils/variables";

.experience {
  position: relative;
  transition: .3s ease transform;
  transform: scale(1) translate(0, 0);
  z-index: 20;
  border: 1px solid #333;

  .infoWrapper {
    background: #222;
    min-height: $listHeight;
    .infoField {
      padding: 24px;
      font-family: 'Lato', sans-serif;
      .blockExperience {
        position: relative;
        font-family: 'Lato', sans-serif;
        h6 {
          margin-bottom: 10px;
          color: #fff;
          font-size: 15px;
          font-weight: 400;
          margin-top: 0;
          text-transform: uppercase;
          span {
            font-weight: 600;
          }
        }
        .dates {
          color: #aaa;
          font-size: 13px;
          i {
            padding-right: 10px;
          }
        }
        p {
          color: #eee;
          font-size: 14px;
          padding-bottom: 20px;
          margin-top: 5px;
          margin-bottom: 0;
          line-height: 2;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
        }
        .separator {
          background: $mainAccentColor;
          height: 2px;
          width: 70px;
          margin-bottom: 24px;
        }
      }
    }
  }
}
@include hidePositions;