@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  animation-name: innerBlocks;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  z-index: 15;
  .innerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation-name: content;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    .picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: auto;
      min-width: 250px;
      min-height: 250px * 0.8;
      margin: 20px;
      img {
        width: 100%;
        height: 100%;
        color: white;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      height: auto;
      margin: 20px;
      color: white;
      h3 {
        font-size: 30px;
        margin: 0 0 20px 0;
        padding: 0;
        font-weight: 700;
        box-sizing: border-box;
        text-transform: uppercase;
        line-height: 110%;
        font-family: 'Lato', serif, Calibri, Arial;
      }
      p {
        margin-bottom: 0;
      }
      .line {
        width: 100%;
        border: 0.1px solid #333;
        margin: 30px 0;
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45%; height: 42px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Lato', sans-serif, Calibri, Arial;
          font-size: 15px;
          font-weight: 700;
          background: $mainAccentColor;
          .text {
          }
          .icon {
            margin: 5px 0 5px 15px;
          }
        }
        .button:visited {
          color: #fff;
          transform: translateY(1px);
        }
        .button:hover {
          color: #f1f1f1;
        }
      }
    }
  }

  @keyframes content {
    @include keyframesShowingItemPortfolio;
  }
}

@keyframes innerBlocks {
  @include keyframesShowingItemPortfolio;
}

.containerNone {
  display: none;
  transition: 0.8s ease;
}
