@import "variables";

//Transition for small blocks on main page
@mixin transitionBlocks {
  transition: 0.5s ease;
}
@mixin transitionToSmallBlocks {
  transition: 1s ease;
}

// Small blocks on main page
@mixin mainBlocks($first, $second) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: transparent;
    width: calc(50vw - 30px);
    height: calc(50vh - 30px);
    background: $blocksBackground;
    @include transitionToSmallBlocks;

    .hideBlock {
      background: $blocksBackground;
      height: 30%;
      z-index: 1;
    }

    .mainField {
      display: flex;
      align-items: center;
      justify-content: center;

      .textBlockFirst {
        position: relative;
        font-family: 'Lato', serif, Calibri, Arial;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;

        &::before {
          position: absolute;
          white-space: nowrap;
          content: $first;
          color: white;
          @include transitionBlocks;
        }

        &::after {
          position: absolute;
          white-space: nowrap;
          left: 0;
          top: 100%;
          content: $first;
          color: $mainAccentColor;
          @include transitionBlocks;
        }

      }

      .textBlockSecond {
        position: relative;
        font-family: 'Lato', serif, Calibri, Arial;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;
        &::before {
          position: absolute;
          white-space: nowrap;
          content: $second;
          top: -100%;
          color: white;
          @include transitionBlocks;
        }

        &::after {
          position: absolute;
          white-space: nowrap;
          right: 0;
          content: $second;
          color: $mainAccentColor;
          @include transitionBlocks;
        }
      }
    }

  }
  .container:hover .textBlockFirst:before {
    top: -100%;
  }
  .container:hover .textBlockFirst:after {
    top: 0;
  }
  .container:hover .textBlockSecond:before {
    top: 0;
  }
  .container:hover .textBlockSecond:after {
    top: 100%;
  }
  .makeSmaller {
    transform: scale(0.7);
  }
}

//About Me. Hiding lists to a second and third places
@mixin hidePositions() {
  .hidePositionSecond {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: .3s ease transform;
    transform: scale(0.90) translate(0, -55px);
    z-index: 2;
  }
  .hidePositionSecond:hover {
    transform: scale(0.90) translate(0, -65px);
  }
  .hidePositionThird {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: .3s ease transform;
    transform: scale(0.80) translate(0, -120px);
    z-index: 1;
  }
  .hidePositionThird:hover {
    transform: scale(0.80) translate(0, -130px);
  }
}

// Main blocks - full screen
@mixin mainBigBlock($animationName) {
  position: absolute;
  content: '';
  background: $blocksBackground;
  animation-name: $animationName;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  z-index: 1;
}
@mixin mainSmallBlock($animationName) {
  position: absolute;
  content: '';
  visibility: hidden;
  transition: 1s ease;
  animation-name: $animationName;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@mixin keyframesSmallToBigMainBlocks($animationNameBig, $animationNameSmall, $left, $right, $top, $bottom){
  @keyframes #{$animationNameBig} {
    0% {
      background: unset;
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      left: $left; right: $right; top: $top; bottom: $bottom;
    }
    50% {
      background: $blocksBackground;
    }
    100% {
      background: $blocksBackground;
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      left: $left; right: $right; top: $top; bottom: $bottom;
    }
  }
  @keyframes #{$animationNameSmall} {
    0% {
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      left: $left; right: $right; top: $top; bottom: $bottom;
      background: $blocksBackground;
    }
    70% {
      background: $blocksBackground;
      width: calc(50vw - 30px);
      height: calc(50vh - 30px);
      left: $left; right: $right; top: $top; bottom: $bottom;
    }
    100% {
      background: unset;
    }
  }
}
@mixin keyframesDisplayContent {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@mixin keyframesShowingItemPortfolio {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@mixin keyframesHidingItemPortfolio {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}