@import "variables";

//Transition for small blocks on main page
@mixin transitionBlocks {
  transition: .5s ease;
}

// Small blocks on main page
@mixin mainBlocks($first, $second) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: transparent;
    width: calc(50vw - 30px);
    height: calc(50vh - 30px);
    background: $blocksBackground;

    .hideBlock {
      background: $blocksBackground;
      height: 30%;
      z-index: 10;
    }

    .mainField {
      display: flex;
      align-items: center;
      justify-content: center;

      .textBlockFirst {
        position: relative;
        font-family: 'Lato', serif, Calibri, Arial;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;

        &::before {
          position: absolute;
          white-space: nowrap;
          content: $first;
          color: white;
          @include transitionBlocks;
        }

        &::after {
          position: absolute;
          white-space: nowrap;
          right: 100%;
          top: 100%;
          content: $first;
          color: $mainAccentColor;
          @include transitionBlocks;
        }

      }

      .textBlockSecond {
        position: relative;
        font-family: 'Lato', serif, Calibri, Arial;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 800;

        &::before {
          position: absolute;
          white-space: nowrap;
          content: $second;
          top: -100%;
          color: white;
          @include transitionBlocks;
        }

        &::after {
          position: absolute;
          white-space: nowrap;
          right: 100%;
          content: $second;
          color: $mainAccentColor;
          @include transitionBlocks;
        }
      }
    }

  }
  .container:hover .textBlockFirst:before {
    top: -100%;
  }
  .container:hover .textBlockFirst:after {
    top: 0;
  }
  .container:hover .textBlockSecond:before {
    top: 0;
  }
  .container:hover .textBlockSecond:after {
    top: 100%;
  }
}