$mainBackground: #111;
$blocksBackground: #222;
$mainAccentColor: #61d9fa;

$listHeight: 475px;

//Font sizes
$fontSizeGreetings: 30px;
$fontSizeName: 54px;
$fontSizeTyping: 32px;
$fontSizeDoubleColors: 46px;

//Small blocks on main page
$widthSmallBlock: 18vh;
$marginBetweenBlocks: 3vh;