$mainBackground: #111;
$blocksBackground: #222;
$mainAccentColor: #61d9fa;

$listHeight: 470px;

//Font sizes
$fontSizeGreetings: 30px;
$fontSizeName: 50px;
$fontSizeTyping: 28px;
$fontSizeDoubleColors: 46px;

//Small blocks on main page
$widthSmallBlock: 18vh;
$marginBetweenBlocks: 3vh;

//Mobile
$mobileHeight: 85vh;

//About Me page
//Main block width
$widthBigScreen: 50%;
$widthScreen2150: 60%;
$widthScreen1800: 70%;
$widthScreen1550: 90%;
$widthScreen1250: 100%;

