@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #333;

  .block {
    width: $widthBigScreen;
    padding: 0 24px;
    font-family: 'Lato', serif, Calibri, Arial;
    color: #656c6d;
    background: transparent;
    font-weight: 400;

    @media (max-width: 2150px) {
      width: $widthScreen2150;
    }
    @media (max-width: 1800px) {
      width: $widthScreen1800;
    }
    @media (max-width: 1550px) {
      width: $widthScreen1550;
    }
    @media (max-width: 1250px) {
      width: $widthScreen1250;
    }

    h6 {
      text-transform: uppercase;
      font-size: 22px;
      color: white;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 600;
      vertical-align: center;

      i {
        margin-right: 15px;
      }
    }

    .info {
      width: 100%;
      margin-bottom: 20px;

      @media (max-width: 1800px) {
        width: 90%;
      }
      @media (max-width: 800px) {
        width: 100%;
      }

      p {
        margin: 0 auto;
        font-size: 15px;
        color: #eee;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        line-height: 2;
      }
    }

    .infoColumns {
      display: flex;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      .column {
        width: 50%;
        @media (max-width: 800px) {
          width: 100%;
        }

        .line {
          font-family: 'Lato', sans-serif;
          color: #eee;
          padding-bottom: 20px;

          .first {
            color: #fff;
            font-weight: 700;
          }

          .second {

          }
        }
      }
    }

    .button {
      width: 300px;
      height: 42px;
      margin-top: 10px;
      cursor: pointer;
      background: none;
      border-color: $mainAccentColor;
      color: $mainAccentColor;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

}