@import "src/utils/mixins";
@import "src/utils/variables";

.experience {
  position: relative;
  transition: .3s ease transform;
  transform: scale(1) translate(0, 0);
  z-index: 2;
  border: 1px solid #333;

  .infoWrapper {
    background: #222;
    min-height: $listHeight;
    @media (max-width: 800px) {
      min-height: auto;
    }
    .infoField {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 24px;
      font-family: 'Lato', sans-serif;
      .skillWrapper {
        width: calc(100%/3);
        @media (max-width: 600px) {
          width: 50%;
        }
        @media (max-width: 380px) {
          width: 100%;
        }
        h6 {
          margin-bottom: 0;
          color: #fff;
          font-size: 15px;
          margin-top: 0;
          text-transform: uppercase;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
}
@include hidePositions;