@import "src/utils/mixins";
@import "src/utils/variables";

.closeButton {
  position: fixed;
  top: 50px;
  right: 70px;
  width: 30px;
  cursor: pointer;
  animation-name: button;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  z-index: 10;
}
.closeButtonNone {
  display: none;
}
@keyframes button {
  @include keyframesDisplayContent;
}