@import "src/utils/mixins";
@import "src/utils/variables";

.closeButton {
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #ababab;
  font-size: 47px;
  font-weight: 300;
  margin: 0 40px;
  animation-name: button;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  z-index: 1;
  @media (max-width: 800px) {
    font-size: 40px;
    top: 15px;
    right: 10px;
  }
  @media (max-width: 480px) {
    font-size: 36px;
  }
  @media (max-width: 400px) {
    top: 5px;
    right: 0;
  }
}
.closeButton:hover {
  color: #c2c2c2;
}
.closeButtonNone {
  display: none;
}
@keyframes button {
  @include keyframesDisplayContent;
}